.input-div {
  position: relative;
  width: 70rem;
  bottom: -3.5rem;
  z-index: 3;
  display: flex;
  align-items: center;
  background: url("../../images/bg-shorten-desktop.svg") hsl(257, 27%, 26%);
  background-position: top;
  background-repeat: no-repeat;
  height: 8.75rem;
  border-radius: 7px;
  
  input {
    font-size: 18px;
    width: 45rem;
    height: 50px;
    padding-left: 20px;
    border: none;
    border-radius: 7px;
    margin-left: 70px;
    &:focus{
    outline: none ;
    border:2px solid hsl(0, 87%, 67%);

    }
  }
  button {
    margin-left: 20px;
    border: none;
    font-size: 18px;
    width: 160px;
    height: 50px;
    border-radius: 8px;
    color: white;
    background: hsl(180, 66%, 49%);
  }
}
