.input-div {
  width: 60rem;
  display: flex;
  align-items: center;
  background: url("../../images/bg-shorten-desktop.svg")  hsl(257, 27%, 26%);
  background-position: right top;
  background-repeat: no-repeat;
  height: 120px;
  border-radius: 7px;
  input {
    font-size: 18px;
    width: 700px;
    height: 50px;
    padding-left: 20px;
    border: none;
    border-radius: 7px;
    margin-left:30px;
  }
  button {
    margin-left:20px;
    border: none;
    font-size:18px;
    width: 160px;
    height:50px;
    border-radius: 8px;
    color: white;
    background: hsl(180, 66%, 49%);
  }
}
