header {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 100px;
  padding: 0 13.125rem;
}
.headerTags {
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: space-between;

  width: 400px;
 
  a {
    text-decoration: none;
    font-size: 15px;
    color: hsl(0, 0%, 75%);
    &:hover {
      color: hsl(260, 8%, 14%);
    }
  }
}
.authButtons {
  display: flex;
  width: 250px;
  justify-content: space-evenly;
  height: 40px;
  button {
    font-size: 15px;
    border: none;
    color: hsl(0, 0%, 75%);
    font-weight: 600;
    background-color:white;
    &:hover {
      cursor: pointer;
      color: hsl(260, 8%, 14%);
    }
  }
  button ~ button {
    background-color: hsl(180, 66%, 49%);
    border-radius: 30px;
    color: white;
    width: 100px;
    &:hover {
      color: white;
      opacity: 0.6;
    }
  }
}
