
header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content:space-between;
  padding: 0 25rem;
  margin-top: 30px;
  margin-bottom: 100px;
}
.headerTags {
  display: flex;
  align-items: center;
  font-weight: 700;
  justify-content: space-between;
  margin-right: 3;
  width: 400px;
  ul{
    list-style: none;
    display: flex;
  }
  li{
    margin:2rem;
  }
  a {
    text-decoration: none;
    font-size: 18px;
    color: hsl(0, 0%, 75%);
    &:hover {
      color: hsl(260, 8%, 14%);
    }
  }
}

.authButtons {
  display: flex;
  width: 250px;
  justify-content: space-evenly;
  height: 40px;
  button {
    font-size: 18px;
    border: none;
    color: hsl(0, 0%, 75%);
    font-weight: 700;
    background-color:white;
    &:hover {
      cursor: pointer;
      color: hsl(260, 8%, 14%);
    }
  }
  button ~ button {
    background-color: hsl(180, 66%, 49%);
    border-radius: 30px;
    color: white;
    width: 110px;
    &:hover {
      color: white;
      opacity: 0.6;
    }
  }
}
